<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <header><%- include('partials/nav') %></header>
    <form action="/quiz/start/1" method="post">
      <p><%- quizzes.title %></p>
      <p><%- quizzes.description %></p>
      <% quizzes.questions.forEach(function(quiz) { %>
      <div>
        <p><%- quiz.question %></p>
        <% quiz.options.forEach(function(answer) { %>
        <label>
          <input type="radio" name="<%= quiz.id %>" value="<%= answer %>" /><%=
          answer %>
        </label>
        <br />
        <% }) %>
      </div>
      <% }) %>
      <button type="submit">submit</button>
    </form>
    <script src="/public/scripts/app.js"></script>
  </body>
</html>
